.weatherDisplay {
  width: 100%;
  background: rgb(245, 245, 245);
  display: flex
}

.weatherDisplay_wrapper {
  display: flex;
  margin: 0 auto;
  background: rgb(240, 240, 240);
}

.weatherDisplay__contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0;
  padding: 10px 0px 10px 35px;
}

.weatherDisplay__contentbox__header {
  font-size: 3rem;
  margin-bottom: 0;
}

.weatherDisplay__contentbox__temp {
  display: block;
  font-size: 4rem;
}

.weatherDisplay__contentbox__cUnit {
  font-size: 2.4rem
}

.weatherDisplay__contentbox__desc {
  display: block;
  margin-bottom: 15%;
}

.weatherDisplay__icon-container {
  padding-right: 35px;
  padding-left: 15px;
}

.weatherDisplay__icon-container__forecastIcon {
  height: 75px;
}