.weatherDisplay {
    margin-top: 10%;
  }
  
  .weatherDisplay h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  
  .weatherDisplay__temp {
    display: block;
    font-size: 4rem;
    margin-bottom: 2.5%;
  
  }
  
  .weatherDisplay__cUnit {
    font-size: 2.4rem
  }